<!DOCTYPE html>
<html lang="en">
<%- include ('./patials/head') %>
<body>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column">
               <form method ="post">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Nation</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input is-info" name="name" type="text" placeholder="e.g. Brazil">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Description</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input is-info" name="description" type="text" placeholder="Let's description">
                            </div>
        
                        </div>
                    </div>
                </div>
                
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary" type="submit">
                                    Create
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
               </form>
            </div>
            <div class="column">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nations</th>
                            <th>description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% nations.forEach(function(nation) { %>
                            <tr>
                                <td>
                                    <%= nation.name %>
                                </td>
                                <td>
                                    <%= nation.description %>
                                </td>
                                <td>
                                    <div class="buttons are-small">
                                        <a href="./nations/edit/<%=nation.id %>"><button class="button is-warning is-light">Edit</button></a>
                                        <a href="./nations/delete/<%=nation.id %>"><button onclick="return confirm('Are you sure ???')" class="button is-danger is-light">Delete</button></a>

                                    </div></a>
                                </td>
                            </tr>
                          <% }) %>  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>