<!DOCTYPE html>
<html lang="en">
<%- include ('./patials/head') %>

    <body>
        <div class="container is-fluid">
            <div class="columns">
                <div class="column">
                    <form method="post">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Name</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-info" name="name" type="text" placeholder="Example: CR7" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Club</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <div class="control">
                                        <div class="select is-fullwidth">
                                            <select name="club">
                                                <%for (let club of clubList){ %>
                                                    <option value="<%= club.name %>">
                                                        <%= club.name %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Image</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-info" name="image" type="text" placeholder="URL of image"
                                            required>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Position</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <div class="control">
                                        <div class="select is-fullwidth">
                                            <select name="position">
                                                <%for (let position of positionList){ %>
                                                    <option value="<%= position.name %>">
                                                        <%= position.name %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Goals</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-info" name="goals" type="number"
                                            placeholder="Number of goals" required>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">isCaptain</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                            <input type="checkbox" name="isCaptain" value="true">
                                            Yes, I am a captain
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-fluid" >
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <div class="buttonCreate">
                                            <button class="button is-primary" type="submit">
                                                Create
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="column">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Club</th>
                                <th>Postion</th>
                                <th>Goals</th>
                                <th>isCaptain</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% players.forEach(function(player) { %>
                                <tr>
                                    <td>
                                        <figure class="image is-24x24">
                                            <img src=<%=player.image %> >
                                        </figure>
                                    </td>
                                    <td>
                                        <%= player.name %>
                                    </td>
                                    <td>
                                        <%= player.club %>
                                    </td>
                                    <td>
                                        <%= player.position %>
                                    </td>
                                    <td>
                                        <%= player.goals %>
                                    </td>
                                    <td>
                                        <%=player.isCaptain===true ? '(C)' : '' %>

                                    </td>
                                    <td>

                                        <a href="./players/edit/<%=player.id %>"><button class="button is-warning is-light">Edit</button></a>
                                                
                                        <a  href="./players/delete/<%=player.id %>"><button onclick="return confirm('Are you sure ???')" class="button is-danger is-light">Delete</button></a>
                                       
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>

</html>